<h1>All Events</h1>
<h2>Upcoming:</h2>
<%Event.all.upcoming(Date.today).each do |event|%>
  <%= event.description%><br>
<%end%>

<h2>Past:</h2>
<% Event.all.past(Date.today).each do |event|%>
  <%= event.description%><br />
<%end%>